<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>eight bit beats</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="media/styles/base.css">
	<link rel="stylesheet" href="media/styles/skeleton.css">
	<link rel="stylesheet" href="media/styles/layout.css">
	<link rel="stylesheet/less" href="media/styles/style.less">

    <script src="media/scripts/less.js" type="text/javascript"></script>


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico">

</head>
<body>





	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
	
	<div class="modal-screen">
	   <div class="login">
	       <p>Hey there. What should we call you?</p>
	       <input class="username-input" type="text" placeholder="dj mike" />
	       <a class="login-submit" href="#">alright let's go</a>
	   </div>
	</div><!-- end .modal-screen -->

	<div class="container">
        <div id="node-vote">
            <div class="text">like what we've done?<br />toss us a vote!</div>
            <iframe class="vote-button" src="http://nodeknockout.com/iframe/somethingcoded" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
        </div><!-- end #node-vote -->
        <img class="logo" src="../media/images/logo.png" alt="8bit beats" />
        <div class="tagline">a project by somethingcoded</div>
        <div class="player">
            <div class="header">
                <div class="master-controls">
                    <a class="create-track" href="#">new track</a>
                    <div class="transport"><div class="pause"></div></div>
                    <div class="bpm">
                        <div class="readout"><span>120</span>bpm</div>
                        <div class="dial">
                            <div class="up"></div>
                            <div class="down"></div>
                        </div>
                    </div>
                </div>
                <div class="runner">
                </div><!-- end .runner -->
            </div><!-- end .header -->
            <div class="tracks">
            </div>
        </div>
        <div class="chat-drawer">
            <div class="pane">
                <div class="users"></div>
                <div class="chats">
                    <div class="output"></div>
                    <div class="input"></div>
                </div>
            </div>
            <div class="tab"><div class="tab-inner">chat</div></div>
        </div><!-- end .chat-drawer -->
	</div><!-- container -->



	<!-- Templates
    =================================================== -->
    <script class="player-template" type="text/html">
    </script>

    <script class="track-template" type="text/html">
        <div class="meta">
            <div class="user">
                <div class="leave">x</div>
                <img src="{{ user.get('avatar') }}" width="64" height="64" />
                <div class="username">{{ user.get('name') }}</div>
            </div>
            <div class="instrument-select">
                {% instruments.each(function(anInstrument) { %}
                    <div data-cid="{{ anInstrument.cid }}" data-name="{{ anInstrument.get('name') }}" class="inst{% if (anInstrument.get('name') == instrument.get('name')) { %} active{% } %}"><div class="light"></div>{{ anInstrument.get('name') }}</div>
                {% }); %}
            </div>
            <!-- <select class="instruments">
            <select> -->
            <div class="note-labels">
                {% _.each(instrument.get('sounds'), function(sound) { %}
                    <div>{{ sound.name }}</div>
                {% }); %}
            </div>
        </div>
        <div class="steps">
        </div>
    </script>

    <script class="step-template" type="text/html">
        {% _.each(notes, function(note, index){ %}
            <div data-index="{{ index }}" class="note{% if (note) { %} on{% } %}"></div>
        {% }); %}
    </script>

    <!-- Flash Embed
    =================================================== -->
    <div id="beatlab-cont"></div>

	<!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='media/scripts/jquery.js'>\x3C/script>")</script>
	<script src="media/scripts/underscore.js"></script>
	<script src="media/scripts/backbone.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="media/scripts/swfobject.js"></script>
	<script src="media/scripts/instruments.js"></script>
    <script src="media/scripts/script.js"></script>
	<script src="media/scripts/flash.js"></script>
	<script src="media/scripts/client.js"></script>

    <!-- Analytics
    ================================================== -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11906758-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<!-- End Document
================================================== -->
</body>
</html>
